In [2]:
print("Hello world")

Hello world

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("EPL.csv")

In [8]:
df

,League,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result
0,English Premier League,16/08/08,Arsenal,West Brom,1.0,0.0,H
1,English Premier League,16/08/08,Bolton,Stoke,3.0,1.0,H
2,English Premier League,16/08/08,Everton,Blackburn,2.0,3.0,A
3,English Premier League,16/08/08,Hull,Fulham,2.0,1.0,H
4,English Premier League,16/08/08,Middlesbrough,Tottenham,2.0,1.0,H
...,...,...,...,...,...,...,...
12785,English Premier League,12/05/2019,Liverpool,Wolves,2.0,0.0,H
12786,English Premier League,12/05/2019,Man United,Cardiff,0.0,2.0,A
12787,English Premier League,12/05/2019,Southampton,Huddersfield,1.0,1.0,D
12788,English Premier League,12/05/2019,Tottenham,Everton,2.0,2.0,D
12789,English Premier League,12/05/2019,Watford,West Ham,1.0,4.0,A

In [10]:
df.head()

,League,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result
0,English Premier League,16/08/08,Arsenal,West Brom,1.0,0.0,H
1,English Premier League,16/08/08,Bolton,Stoke,3.0,1.0,H
2,English Premier League,16/08/08,Everton,Blackburn,2.0,3.0,A
3,English Premier League,16/08/08,Hull,Fulham,2.0,1.0,H
4,English Premier League,16/08/08,Middlesbrough,Tottenham,2.0,1.0,H

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12790 entries, 0 to 12789
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   League     12790 non-null  object
 1   Date       12093 non-null  object
 2   HomeTeam   12093 non-null  object
 3   AwayTeam   12093 non-null  object
 4   HomeGoals  12093 non-null  float64
 5   AwayGoals  12093 non-null  float64
 6   Result     12093 non-null  object
dtypes: float64(2), object(5)
memory usage: 699.6+ KB

In [14]:
# Doing the label encoding here for the score calculation
df['Result'] = df['Result'].map({'H':1,'D':0,'A':-1})

In [16]:
df

,League,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result
0,English Premier League,16/08/08,Arsenal,West Brom,1.0,0.0,1.0
1,English Premier League,16/08/08,Bolton,Stoke,3.0,1.0,1.0
2,English Premier League,16/08/08,Everton,Blackburn,2.0,3.0,-1.0
3,English Premier League,16/08/08,Hull,Fulham,2.0,1.0,1.0
4,English Premier League,16/08/08,Middlesbrough,Tottenham,2.0,1.0,1.0
...,...,...,...,...,...,...,...
12785,English Premier League,12/05/2019,Liverpool,Wolves,2.0,0.0,1.0
12786,English Premier League,12/05/2019,Man United,Cardiff,0.0,2.0,-1.0
12787,English Premier League,12/05/2019,Southampton,Huddersfield,1.0,1.0,0.0
12788,English Premier League,12/05/2019,Tottenham,Everton,2.0,2.0,0.0
12789,English Premier League,12/05/2019,Watford,West Ham,1.0,4.0,-1.0

In [18]:
# Dropping the unnecessary feature from the csv file
df.drop(columns=['League'],inplace= True)

In [20]:
df

             Date       HomeTeam      AwayTeam  HomeGoals  AwayGoals  Result
0        16/08/08        Arsenal     West Brom        1.0        0.0     1.0
1        16/08/08         Bolton         Stoke        3.0        1.0     1.0
2        16/08/08        Everton     Blackburn        2.0        3.0    -1.0
3        16/08/08           Hull        Fulham        2.0        1.0     1.0
4        16/08/08  Middlesbrough     Tottenham        2.0        1.0     1.0
...           ...            ...           ...        ...        ...     ...
12785  12/05/2019      Liverpool        Wolves        2.0        0.0     1.0
12786  12/05/2019     Man United       Cardiff        0.0        2.0    -1.0
12787  12/05/2019    Southampton  Huddersfield        1.0        1.0     0.0
12788  12/05/2019      Tottenham       Everton        2.0        2.0     0.0
12789  12/05/2019        Watford      West Ham        1.0        4.0    -1.0

[12790 rows x 6 columns]

In [ ]:
# For the date segregation

In [37]:
teams = df['HomeTeam'].unique()

In [39]:
len(teams)

52

In [41]:
teams

array(['Arsenal', 'Bolton', 'Everton', 'Hull', 'Middlesbrough',
       'Sunderland', 'West Ham', 'Aston Villa', 'Chelsea', 'Man United',
       'Blackburn', 'Fulham', 'Liverpool', 'Newcastle', 'Stoke',
       'Tottenham', 'West Brom', 'Man City', 'Wigan', 'Portsmouth',
       'Wolves', 'Birmingham', 'Blackpool', 'Brentford', 'Burnley',
       'Leicester', 'Watford', 'Norwich', 'Crystal Palace', 'Leeds',
       'Brighton', 'Southampton', 'QPR', 'Swansea', nan, 'Bournemouth',
       'Sheffield United', 'Charlton', 'Coventry', 'Derby', 'Bradford',
       'Ipswich', 'Sheffield Weds', 'Wimbledon', "Nott'm Forest",
       'Huddersfield', 'Reading', 'Barnsley', 'Cardiff', 'Luton',
       'Oldham', 'Swindon'], dtype=object)